/* Cards Icon Block - Nationwide Style */

.cards-icon-container {
  background-color: #fff;
  padding: 48px 0;
}

.cards-icon-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.cards-icon > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 16px;
  justify-items: center;
}

.cards-icon > ul > li {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cards-icon .cards-icon-card-image {
  line-height: 0;
}

.cards-icon > ul > li img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 0;
}

.cards-icon .cards-icon-card-body {
  margin: 0;
}

.cards-icon .cards-icon-card-body p {
  margin: 0;
}

.cards-icon .cards-icon-card-body a,
.cards-icon .cards-icon-card-body a.button {
  text-decoration: underline;
  color: rgb(1, 21, 70);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: inline;
  white-space: normal;
}

.cards-icon .cards-icon-card-body a:hover,
.cards-icon .cards-icon-card-body a.button:hover {
  text-decoration: none;
  background: none;
  color: rgb(1, 21, 70);
}

/* Tablet */
@media (min-width: 600px) {
  .cards-icon > ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 24px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .cards-icon-container {
    padding: 56px 0;
  }

  .cards-icon-wrapper {
    padding: 0 32px;
  }

  .cards-icon > ul {
    grid-template-columns: repeat(7, 1fr);
    gap: 24px;
  }

  .cards-icon > ul > li img {
    width: 100px;
    height: 100px;
  }

  .cards-icon .cards-icon-card-body a {
    font-size: 1.125rem;
  }
}
